#addressform input[type="text"],
#addressform input[type="url"],
#addressform textarea {
  width: calc(50% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px; 
}

#addressform label {
  display: block; 
  margin-bottom: 5px;
  font-weight: bold; 
}


/
#addressform {
  display: flex;
  flex-direction: column; 
  width: 500px; 
  margin: 0 auto; 
  padding: 20px;
  border: 1px solid #ddd; 
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);

}


#addressform button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 20px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#addressform button:hover {
  background-color: #3e8e41; 
}

/
#botton-box {
  text-align: center;
}
#destination{
  flex-wrap: wrap;
  gap: 20px;
  display: flex;

}
